.text {
  text-decoration: none;
}
.card {
  -webkit-box-shadow: 6px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 5px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 1.5em 2.5em;
  border-radius: 0.85em;
  margin-top: 10%;
}
